@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: local('IRANYekan'), url(https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan.woff) format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan thin.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan light.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan medium.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan bold.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan extrabold.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan black.woff') format('woff')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: local('IRANYekan'), url('https://fonts.cdnfonts.com/s/61728/Qs_Iranyekan extrablack.woff') format('woff')
}