*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   height: 100vh;

}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding: 3rem;
    background-color:rgb(9,60,227);
    margin: .5rem;
    border-radius: 10px;
    font-size:1.2rem ;
    text-align: center;
    color: white;
}
